body{
    padding: 0;
    margin: 0;
}

header{
    justify-content: space-between;
    border-bottom: 1px solid grey;
}


header ul {
    list-style-type: none;
}

header ul li{
    align-content: center;
    padding: 0.1em;
    text-align: center;
    flex: 1 0 auto;
}

header ul li:hover {
    color: rgb(35, 35, 221);
    background-color: rgba(164, 172, 209, 0.5);
    border-radius: 4px;
}

.search{
    margin: auto 10px;
    border: 2px solid gray;
}

main {
    padding: 1em;
}

tr{
    border-bottom: 3px solid rgba(148, 148, 148, 0.3);
}